BeMove.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
BeMove.xcodeproj/xcshareddata/xcschemes/BeMove.xcscheme
BeMove.xcodeproj/xcuserdata/kirill.xcuserdatad/xcschemes/xcschememanagement.plist
BeMove.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
IDEWorkspaceChecks.plist
IDEFindNavigatorScopes.plist
